.logout-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #182B49;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #2F678A;
  }
  
  body.dark-mode .logout-button {
    background-color: #122036;
  }
  
  body.dark-mode .logout-button:hover {
    background-color: #1c3153;
  }