/* src/components/NavBar.css */
.navbar {
  position: fixed;            
  top: 1em;                     
  right: 2em;                   
  width: 270px;                  
  height: 60eh;               
  background-color: #182B49;      
  display: flex;              
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 15px;  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: white;               
  z-index: 1000;               
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 0.5em;
}

.nav-button {
  background-color: transparent; /* Make button background transparent */
  color: white;                  /* Set button text color to white */
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  /* background-color: #333;    */
       /* Slightly darken button on hover */
  background-color: gold; 
}

<<<<<<< HEAD
/* .nav-button.active {
  background-color: gold; 
}    */
=======
.nav-button.active {
  background-color: #FFCD00; 
}   
>>>>>>> welcome-popup
.icon {
  font-size: 24px; 
} 

/* Global Dark Mode Styling */
body.dark-mode {
  background-color: #1a1a2e;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #0b1423; /* Darker navbar background */
}

body.dark-mode .nav-button {
  color: white;
}

body.dark-mode .nav-button.active {
  background-color: #917501; /* Highlighted button in dark mode */
}
  