.theme-button {
    background-color: #a9cffa;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: fixed;            
    bottom: 20px;                    
    left: 70px;  
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #182B49; /* Dark color for light mode */
}

body.dark-mode .theme-button {
    background-color: #1b3259;
    color: #FFCD00; /* Gold color for dark mode */
}

.theme-button:hover {
    transform: scale(1.1);
}

.music-button{
    padding-top: 1.3mm;
    background-color: transparent;              
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: fixed;            
    top: 95%;                    
    left: 25px;  
    font-size: 25px;
}

.music-button:hover {
    transform: scale(1.1);
}

.nav-button {
    background-color: transparent; /* Make button background transparent */
    color: white;                  /* Set button text color to white */
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }